
.search-container{
    display: flex;
    justify-content: center;
}

.input-search{
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    font-size: 20px;
    margin: 15px auto;
    min-width: 600px;
    padding: 5px;
}