.my-list-container {
    width: 350px;
    max-height: 450px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFD700;
    padding: 20px 40px;
    overflow-y: auto;
    border-radius: 5px;
}
.list{
    width: 250px;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 5px;
}

.confirm-order-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: #f5a209;
    color: white;
    border: 1px solid grey;
    box-shadow: 0 0 2px 0 black;
}